@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amiko|Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css?family=Limelight&display=swap');

:root {
    --main-color: black;
    font-family: 'Abhaya Libre', serif;
}

body {
    background-color: #fffafe;
    max-width: 980px;
    margin: auto;
}

.top-header .top-menu {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.top-header .top-menu li {
    list-style-type: none;
}

.top-header .top-menu li a {
    text-decoration: none;
    font-family: 'Amiko', sans-serif;
    font-size: 20px;
    border: 1px solid white;
    padding: 2px;
    color: var(--main-color);
}

.top-header .logo {
    font-family: 'Libre Baskerville', serif;
    font-size: 39px;
    text-align: center;
    padding: 430px 0px 0px 0px;
    text-shadow: 1px 0px 3px black, 0 0 1em black;
}

h1 {
    color: #ffffff;
}

.top-header .lviv-fashoin-week {
    background-image: url(../img/background_logo.png);
   /*background-position: center; */
    background-size: cover;
}

@media (min-width: 700px) {
    .top-header .lviv-fashoin-week {
        min-height: 600px;
    }
}

.top-header .top-menu li a:hover {
    border: 1px solid black;
}


@madia (min-width: 291px) {
    .top-header nav {
        display: flex;
    }
}

.firstname {
    font-family: 'Limelight', cursive;
    font-size: 36px;
    font-weight: bold;
    color: #660b3a;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 0px;
}

.description {
    font-size: 18px;
    text-align: center;
    padding-top: 0px;
}

@madia (min-width: 291px) {
    .description nav {
        display: flex;
    }
}

.button-center {
   padding-top: 30px;
   text-align: center;
}

.button-about-us {
  text-align: center;
  background: #faf0f9;
  background-image: -webkit-linear-gradient(top, #faf0f9, #f5d7f2);
  background-image: -moz-linear-gradient(top, #faf0f9, #f5d7f2);
  background-image: -ms-linear-gradient(top, #faf0f9, #f5d7f2);
  background-image: -o-linear-gradient(top, #faf0f9, #f5d7f2);
  background-image: linear-gradient(to bottom, #faf0f9, #f5d7f2);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Limelight', cursive;
  color: #6e2365;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.carrousel-models {
   text-align: center;
}

.secondname {
    font-family: 'Limelight', cursive;
    font-size: 45px;
    font-weight: bold;
    color: #660b3a;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 0px;
}

.menu-list {
    text-decoration: none;
}

.list {
    display: flex;
    flex-direction: column;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.img-onetwo-half {
    padding-top: 105px;
    text-align: center;
    margin-left: -50px;
}

.thirddname {
    font-family: 'Limelight', cursive;
    font-size: 40px;
    font-weight: bold;
    color: #660b3a;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 0px;
}

.gellery-photo {
    padding-top: 75px;
    text-align: center;
    margin-left: -70px;
}