@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amiko|Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css?family=Limelight&display=swap');

:root {
    --main-color: black;
    font-family: 'Abhaya Libre', serif;
}

body {
    background-color: #fffafe;
    max-width: 980px;
    margin: auto;
}

.top-header .top-menu {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.top-header .top-menu li {
    list-style-type: none;
}

.top-header .top-menu li a {
    text-decoration: none;
    font-family: 'Amiko', sans-serif;
    font-size: 20px;
    border: 1px solid white;
    padding: 2px;
    color: var(--main-color);
}

.top-header .logo {
    font-family: 'Libre Baskerville', serif;
    font-size: 39px;
    text-align: center;
    padding: 430px 0px 0px 0px;
    text-shadow: 1px 0px 3px black, 0 0 1em black;
}

h1 {
    color: #ffffff;
}

.top-header .lviv-fashoin-week {
    background-image: url(../img/background_logo.png);
   /*background-position: center; */
    background-size: cover;
}

@media (min-width: 700px) {
    .top-header .lviv-fashoin-week {
        min-height: 600px;
    }
}

.top-header .top-menu li a:hover {
    border: 1px solid black;
}


@madia (min-width: 291px) {
    .top-header nav {
        display: flex;
    }
}

.firstname {
    font-family: 'Limelight', cursive;
    font-size: 36px;
    font-weight: bold;
    color: #660b3a;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 0px;
}

.description {
    font-size: 18px;
    text-align: center;
    padding-top: 0px;
}

@madia (min-width: 291px) {
    .description nav {
        display: flex;
    }
}

.button-center {
   padding-top: 30px;
   text-align: center;
}

.button-about-us {
  text-align: center;
  background: #faf0f9;
  background-image: -webkit-linear-gradient(top, #faf0f9, #f5d7f2);
  background-image: -moz-linear-gradient(top, #faf0f9, #f5d7f2);
  background-image: -ms-linear-gradient(top, #faf0f9, #f5d7f2);
  background-image: -o-linear-gradient(top, #faf0f9, #f5d7f2);
  background-image: linear-gradient(to bottom, #faf0f9, #f5d7f2);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Limelight', cursive;
  color: #6e2365;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.carrousel-models {
   text-align: center;
}

.secondname {
    font-family: 'Limelight', cursive;
    font-size: 45px;
    font-weight: bold;
    color: #660b3a;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 0px;
}

.menu-list {
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    color: #660b3a;
}

.list {
    display: flex;
    flex-direction: column;
}

@media (min-width: 598px) {
    .menu {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 911px) {
    .menu {
      grid-template-columns: 1fr 1fr 1fr;
    }
}

.img-onetwo-half {
    padding-top: 105px;
    text-align: center;
    margin-left: -50px;
}

.thirddname {
    font-family: 'Limelight', cursive;
    font-size: 40px;
    font-weight: bold;
    color: #660b3a;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 0px;
}

.gellery-photo {
    padding-top: 75px;
    text-align: center;
    margin-left: -70px;
}

.button-centerrr {
   padding-top: 30px;
   text-align: center;
}

.button_show-more {
  text-align: center;
  background: #faf0f9;
  background-image: -webkit-linear-gradient(top, #faf0f9, #f5d7f2);
  background-image: -moz-linear-gradient(top, #faf0f9, #f5d7f2);
  background-image: -ms-linear-gradient(top, #faf0f9, #f5d7f2);
  background-image: -o-linear-gradient(top, #faf0f9, #f5d7f2);
  background-image: linear-gradient(to bottom, #faf0f9, #f5d7f2);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Limelight', cursive;
  color: #6e2365;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.fourthname {
    font-family: 'Limelight', cursive;
    font-size: 37px;
    font-weight: bold;
    color: #660b3a;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 0px;
}

.text {
    font-size: 18px;
    text-align: center;
    padding-top: 0px;
}





.insta {
    margin-right: 70px;
}


.links {
    display: flex;
    justify-content: center;
}

.form-style-5 {
	max-width: 500px;
	padding: 10px 20px;
	background: #ede1ed;
	margin: 10px auto;
	padding: 20px;
	background: #ede1ed;
	border-radius: 8px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-5 fieldset{
	border: none;
}
.form-style-5 legend {
	font-size: 1.4em;
	margin-bottom: 10px;
}
.form-style-5 label {
	display: block;
	margin-bottom: 8px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="tel"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
	font-family: Georgia, "Times New Roman", Times, serif;
	background: #fff7ff;
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: #fffaff;
	color:#210221;
	-webkit-box-shadow: 0 1px 0 #fff7ff inset;
	box-shadow: 0 1px 0 #fff7ff inset;
	margin-bottom: 30px;
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="tel"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
	background: #fcfafc;
}
.form-style-5 select{
	-webkit-appearance: menulist-button;
	height:35px;
}
.form-style-5 .number {
	background: #612961;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 #fcfafc; /*rgba(255,255,255,0.2) */
	border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
  display: flex;
  justify-content: center;
  background: #faf0f9;
  background-image: -webkit-linear-gradient(top, #faf0f9, #f5d7f2);
  background-image: -moz-linear-gradient(top, #faf0f9, #f5d7f2);
  background-image: -ms-linear-gradient(top, #faf0f9, #f5d7f2);
  background-image: -o-linear-gradient(top, #faf0f9, #f5d7f2);
  background-image: linear-gradient(to bottom, #faf0f9, #f5d7f2);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Limelight', cursive;
  color: #6e2365;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.footer {
    text-align: center;
    padding-top: 50px;
}

.slideShow {
    padding-top: 50px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}



